html {
  border-style: solid;
  border-width: 10px;
  border-color: darkslategray;
  background-color: cornsilk;
}

header {
  background-image: url(../photos/blackGrey.avif);
  background-color: beige;
  color: goldenrod;
  font-family: serif;
}

.banner {
  background-image: url(../photos/nice.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-top: 15px;
  padding-bottom: 35px;
}

.topic {
  font-family: sans-serif;
  color: darkcyan;
}

#links {
  font-family: "Times New Roman", Times, serif;
}
#picture {
  border-color: black;
  border-radius: 50%;
}
.form {
  background-color: beige;
  width: 100px;
  height: 30px;
  right: 50px;
}
.form1 {
  background-color: beige;
  width: 200px;
  height: 80px;
  right: 50px;
}

#back-to-top > button {
  background-color: rgb(198, 156, 78);
  border-radius: 50%;
  border: solid 1px rgb(198, 156, 78);
  width: 50px;
  height: 50px;
}

#back-to-top:hover > button {
  border: solid 1px rgb(198, 156, 78);
  background-color: white;
}
#back-to-top > button {
  text-decoration: none;
  color: whitesmoke;
}
#back-to-top:hover > button {
  text-decoration: none;
  color: rgb(198, 156, 78);
}
#top {
  display: flex;
  background-color: rgb(47, 50, 60);
  color: whitesmoke;
}

#back-to-top {
  position: fixed;
  right: 80px;
  bottom: 60px;
}

@media only screen and (min-width: 300px) {
  html {
    background-color: gainsboro;
    border-style: solid;
    border-width: 10px;
    border-color: grey;
  }
  .topic {
    font-family: sans-serif;
    font-size: 1rem;
    color: blueviolet;
  }
  h2 {
    font-size: 1.5rem;
  }
  body {
    font-size: medium;
  }
  picture {
    margin-left: 5px;
    margin-right: 50px;
  }
}

@media only screen and (min-width: 768px) {
  html {
    background-color: gray;
    border-style: solid;
    border-width: 15px;
    border-color: black;
  }
  .topic {
    font-family: sans-serif;
    font-size: 1.5rem;
    color: darkred;
  }
  h2 {
    font-size: 2rem;
  }
  body {
    font-size: large;
  }
  picture {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    border-style: solid;
    border-width: 10px;
    border-color: darkslategray;
    background-color: cornsilk;
  }

  .topic {
    font-family: sans-serif;
    font-size: auto;
    color: darkcyan;
  }
  h2 {
    font-size: auto;
  }
  picture {
    margin-left: 30px;
  }
}
